// Lists
// ==========================================================================

ul,
ol {
  list-style-type: none;
}

.govuk-basic-styles ul,
.govuk-basic-styles ol,
.list {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.govuk-basic-styles li,
.list li {
  margin-bottom: 5px;
}

// Bulleted lists
.govuk-basic-styles ul,
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
.govuk-basic-styles ol,
.list-number {
  list-style-type: decimal;
  padding-left: 20px;

  @include ie-lte(7) {
    padding-left: 28px;
  }
}
